@font-face {
    font-family: "bio-sans-light";
    src: url("./bio-sans-light.ttf") format('truetype');
}
@font-face {
    font-family: 'bio-sans-bold';
    src : url("./bio-sans-bold.ttf") format('truetype')
}

body{
    margin: 0;
    position: relative;
}


#info{
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto; 
    /* text-align: center; */
    z-index: 100;
    display: block;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'bio-sans-light';
    font-weight: 500;
    
}

#text-satellite{

    color: #9A813C;
    font-weight: 500;

}

#txt-record {
    font-weight: 600;
}

#txt-record-digital{
    font-size: 25px;
}